#first-heading{
    color: pink;
    font-size: 16px;
}
.second-heading{
    color: green;
    font-size: 50px;
}
/* .title{
    color: brown;
} */

/* có cả 2 class */
.title.title2{
    color: brown;
}

/* class nằm trong class */
.box .title{
    color: blue;
}